<div class="fields">
  <p>
  	<%= f.label :quantity %>
    <%= f.text_field :quantity, :size => 5 %>
    <%= f.select("unit_id", units_for_select, {:include_blank => true}) %>
    <%= f.label :name %>
    <%= f.text_field :name %><span id="indicator1" style="display: none">working</span>
    <%= f.label :instruction %>
    <%= f.text_field :instruction %>
    
  
  	<%= link_to_remove_fields image_tag("/images/minus.png", :alt => "remove ingredient"), f %>
  </p>
</div>