<% title @recipe.name + " by " + creator(@recipe.user_id)  %>

<p>
</p>
<table>
<% for ingredient in @recipe.ingredients %>
  <tr>
  	<td><%= ingredient.quantity %></td>
  	<td><%= selected_unit(ingredient.unit_id).name%></td>
  	<td><%= ingredient.name %></td>
  	<td><%= ingredient.instruction %></td>
  </tr>
<% end %>
</table>
<p>
  <strong>Description:</strong>
  <%= simple_format @recipe.description %>
</p>
<p>
  <strong>Source:</strong>
  <%= auto_link @recipe.link , :html => { :target => '_blank' } %>
</p>

<p>
  <%= link_to "Edit", edit_recipe_path(@recipe) %> |
  <% if logged_in? && current_user.username == 'nico'%>
    <%= link_to "Destroy", @recipe, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
  <%= link_to "View All", recipes_path %>
</p>
